/* BOOTSTRAP COLORPICKER */
/* line 3, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/assets/stylesheets/camaleon_cms/admin/colorpicker.css.scss */
.colorpicker-saturation {
  width: 100px;
  height: 100px;
  background-image: url(/assets/camaleon_cms/admin/img/colorpicker/saturation-373292b9226296d598f0827e253a3ed87fa1aee38cfebb0620fb380c682186bd.png);
  cursor: crosshair;
  float: left;
}

/* line 10, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/assets/stylesheets/camaleon_cms/admin/colorpicker.css.scss */
.colorpicker-saturation i {
  display: block;
  height: 5px;
  width: 5px;
  border: 1px solid #000;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  position: absolute;
  top: 0;
  left: 0;
  margin: -4px 0 0 -4px;
}

/* line 23, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/assets/stylesheets/camaleon_cms/admin/colorpicker.css.scss */
.colorpicker-saturation i b {
  display: block;
  height: 5px;
  width: 5px;
  border: 1px solid #fff;
}

/* line 29, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/assets/stylesheets/camaleon_cms/admin/colorpicker.css.scss */
.colorpicker-hue,
.colorpicker-alpha {
  width: 15px;
  height: 100px;
  float: left;
  cursor: row-resize;
  margin-left: 4px;
  margin-bottom: 4px;
}

/* line 38, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/assets/stylesheets/camaleon_cms/admin/colorpicker.css.scss */
.colorpicker-hue i,
.colorpicker-alpha i {
  display: block;
  height: 1px;
  background: #000;
  border-top: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: -1px;
}

/* line 50, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/assets/stylesheets/camaleon_cms/admin/colorpicker.css.scss */
.colorpicker-hue {
  background-image: url(/assets/camaleon_cms/admin/img/colorpicker/hue-76f600a164cf16262dd78abfd05bca52315ac9ef660a962bc86145322f43072a.png);
}

/* line 53, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/assets/stylesheets/camaleon_cms/admin/colorpicker.css.scss */
.colorpicker-alpha {
  background-image: url(/assets/camaleon_cms/admin/img/colorpicker/alpha-d0d1b42617b82f34ac9d0362ee4563d58b535bf7b785ed475e388b4a2a2106b2.png);
  display: none;
}

/* line 57, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/assets/stylesheets/camaleon_cms/admin/colorpicker.css.scss */
.colorpicker {
  top: 0;
  left: 0;
  padding: 4px;
  min-width: 120px;
  margin-top: 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 67, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/assets/stylesheets/camaleon_cms/admin/colorpicker.css.scss */
.colorpicker.dropdown-menu {
  margin-top: 8px;
}

/* line 70, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/assets/stylesheets/camaleon_cms/admin/colorpicker.css.scss */
.colorpicker div {
  position: relative;
}

/* line 73, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/assets/stylesheets/camaleon_cms/admin/colorpicker.css.scss */
.colorpicker.alpha {
  min-width: 140px;
}

/* line 76, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/assets/stylesheets/camaleon_cms/admin/colorpicker.css.scss */
.colorpicker.alpha .colorpicker-alpha {
  display: block;
}

/* line 79, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/assets/stylesheets/camaleon_cms/admin/colorpicker.css.scss */
.colorpicker-color {
  height: 10px;
  margin-top: 5px;
  clear: both;
  background-image: url(/assets/camaleon_cms/admin/img/colorpicker/alpha-d0d1b42617b82f34ac9d0362ee4563d58b535bf7b785ed475e388b4a2a2106b2.png);
  background-position: 0 100%;
}

/* line 86, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/assets/stylesheets/camaleon_cms/admin/colorpicker.css.scss */
.colorpicker-color div {
  height: 10px;
}

/* line 89, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/assets/stylesheets/camaleon_cms/admin/colorpicker.css.scss */
.input-group.color .input-group-addon i {
  display: inline-block;
  cursor: pointer;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/* EOF BOOTSTRAP COLORPICKER */
