/* line 2, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/assets/stylesheets/camaleon_cms/admin/widgets.css.scss */
#content-widget .panel-widget {
  cursor: move;
}
/* line 4, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/assets/stylesheets/camaleon_cms/admin/widgets.css.scss */
#content-widget .panel-widget, #content-widget .panel-widget * {
  color: #fff;
}
/* line 6, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/assets/stylesheets/camaleon_cms/admin/widgets.css.scss */
#content-widget .panel-widget .shortcode {
  cursor: default;
  width: 100%;
}

/* line 13, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/assets/stylesheets/camaleon_cms/admin/widgets.css.scss */
#content-sidebar .sidebar-body {
  min-height: 150px;
}
/* line 15, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/assets/stylesheets/camaleon_cms/admin/widgets.css.scss */
#content-sidebar .sidebar-body .panel-default:hover {
  cursor: move;
}
/* line 19, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/assets/stylesheets/camaleon_cms/admin/widgets.css.scss */
#content-sidebar form {
  overflow: hidden;
}

/* line 24, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/assets/stylesheets/camaleon_cms/admin/widgets.css.scss */
.ui-draggable-dragging {
  z-index: 999999999;
}
