<%= form_tag(cama_search_path, :method => "get", :class => "navbar-form navbar-right") do %>
    <label>
        <input type="search" title="Search:" name="q" value="" placeholder="<%= t("camaleon_cms.common.search") %>..." class="search-field form-control" />
    </label>
<% end %>