.rev_slider_wrapper
	#slider1.rev_slider
		%ul
			%li{data:{transition: 'fade'}}
				= image_tag '/media/1/slider1.jpg', width: '100%'
				.tp-caption.tp-shape{:style => "background-color: rgba(250, 250, 250, .70); z-index: 9;",data:{x:'left',hoffset:'100',width:'300',height:'500',start:'500',transform_in:'opacity:0;s:300;sy:0;e:Power2.easeInOut;',responsive_offset:'on'}}
				.tp-caption{style: "text-align: center; white-space: normal; font-style: 'Lato'; color:#5d4835; font-size:3em;z-index:10;word-wrap: break-word; font-weight:500;",data:{x:'left',hoffset:'125',y:'top',voffset:'100',width:'250',height:'500',start:'1000',transform_in:'opacity:0;s:500;e:Power2.easeInOut;',responsive_offset:'on'}}
					%p
						%i
							The warmth of wood without the flammability.
			%li{data:{transition: 'fade'}}
				= image_tag '/media/1/slider2.jpg', width: '100%'
				.tp-caption.tp-shape{:style => "background-color: rgba(250, 250, 250, .70); z-index: 9;",data:{x:'left',hoffset:'100',width:'300',height:'500',start:'500',transform_in:'opacity:0;s:300;e:Power2.easeInOut;',responsive_offset:'on'}}
				.tp-caption{style: "text-align: center; white-space: normal; font-style: 'Lato'; color:#5d4835; font-size:3em;z-index:10;word-wrap: break-word; font-weight:500;",data:{x:'left',hoffset:'125',y:'top',voffset:'100',width:'250',height:'500',start:'1000',transform_in:'opacity:0;s:500;e:Power2.easeInOut;',responsive_offset:'on'}}
					%p
						%i
							Coast for years without repainting.

:coffee
	$ ->
		$("#slider1").revolution
			sliderType: 'standard'
			sliderLayout: 'auto'
			delay:9000
			gridwidth:1230
			gridheight:500