/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require camaleon_cms/bootstrap.min.css
 *= require font-awesome
 */

body{
	background: #eae7e1;
}

header{
	background-color: #8e8367;
}

.content{
	background:#fff;
	margin-bottom:50px;
}

.social{
	margin-top:20px;
	a{
		color:#fff;
	}
	
}

.navbar-form{
	margin-top:1.5em;
}

footer{
	background: #693719;
	color:#fff;
	padding:10px;
	margin-bottom:10px;
	.navbar-nav{
		> li{
			height:1em;
			font-size: .9em;

			> a{
				color:#fff;
				margin:0;
				padding:0 15px;
				text-transform: uppercase;
				line-height: 1em;
			}
			&:not(:last-child){
				border-right: 1px solid #8d8266;
			}	
		}
		top:50%;
		margin-top:1em;
	}
}

.navbar-default{
	background:none;
	border:none;
	color: #fff;
	.navbar-nav{
		> li{
			> a{
				color:#fff;
				margin:0;
				padding:0 15px;
			}
			&:not(:last-child){
				border-right: 2px solid #50594b;
			}	
		}
		top:50%;
		left:400px;
		position:absolute;
		margin-top:-.5em;
	}
	font-size: 1.5em;
	font-family: 'Lato', serif;
}

.navbar{
	margin-bottom: 0;
}
#navbar-main{
	position: relative;
}

.navbar-header{
	background:#fff;
    border-radius: 24px / 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
	margin-left: -500px;
	padding-left: 500px;
	min-height: 120px;
	padding-right: 2em;
	margin-top: -10px;
	margin-bottom: -10px;
	padding-top: 10px;
	padding-bottom: 20px;
	overflow: hidden;
}
.content{
	z-index: 100;
	position: relative;
}