    <!DOCTYPE html>
    <html lang="en">
    <head>
        <!-- META SECTION -->
        <title><%= current_site.the_title %></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- END META SECTION -->

        <%= stylesheet_link_tag theme_asset_path("css/main") %>
        <%= stylesheet_link_tag 'revolution/css/settings' %>
        <%= stylesheet_link_tag 'revolution/css/layers' %>
        <%= stylesheet_link_tag 'revolution/css/navigation' %>
        <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' %>
        <%= javascript_include_tag theme_asset_path("js/main.js") %>
        <%= javascript_include_tag 'revolution/js/jquery.themepunch.tools.min.js' %>
        <%= javascript_include_tag 'revolution/js/jquery.themepunch.revolution.min.js' %>
        <%= javascript_include_tag 'revolution/js/extensions/revolution.extension.video.min.js' %>
        <%= javascript_include_tag 'revolution/js/extensions/revolution.extension.parallax.min.js' %>
        <%= javascript_include_tag 'revolution/js/extensions/revolution.extension.layeranimation.min.js' %>
        <%= javascript_include_tag 'revolution/js/extensions/revolution.extension.actions.min.js' %>
        <%= javascript_include_tag 'revolution/js/extensions/revolution.extension.kenburn.min.js' %>
        <%= javascript_include_tag 'revolution/js/extensions/revolution.extension.navigation.min.js' %>
        <%= javascript_include_tag 'revolution/js/extensions/revolution.extension.migration.min.js' %>
        <%= javascript_include_tag 'revolution/js/extensions/revolution.extension.slideanims.min.js' %>
        <%= raw the_head %>

    </head>
    <body>

    <!-- container -->
    <div class="fluid-container">
        <!-- header -->
        <header>
            <div class="container">
                <div class="navbar navbar-default">
                    <div class="navbar-header">
                        <a id="logo" class="navbar-brand" href="<%= current_site.the_url %>"><%= image_tag current_site.the_logo, class: "img-responsive", height: '80' %></a>
                        <button data-target="#navbar-main" data-toggle="collapse" type="button" class="navbar-toggle">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar-main" class="navbar-collapse collapse">
                        <%= raw get_nav_menu('main_menu', 'nav navbar-nav ') %>
                        <%= render partial: 'partials/search_form' %>
                    </div>

                </div>
            </div>
        </header>
        
        <!-- ./header -->
        <%= render partial: 'partials/slider' %>
        <div class="content container">
            <%= yield %>
        <!-- footer -->
        <footer>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        ALLURA USA<br>
                        15055 Woodham Drive<br>
                        Houston, Texas 77073<br>
                        main: (844) 425-5872
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <%= raw get_nav_menu('footer', 'nav navbar-nav pull-right') %>
                        </div>
                        <div class="row">
                            <div class="social pull-right">
                                <a href="http://facebook.com"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
                                <a href="http://facebook.com"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
                                <a href="http://facebook.com"><i class="fa fa-pinterest-square fa-2x" aria-hidden="true"></i></a>
                                <a href="http://facebook.com"><i class="fa fa-houzz fa-2x" aria-hidden="true"></i></a>
                                <a href="http://facebook.com"><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                <div>
            </div>
        </footer>
        <!-- ./footer -->

        </div>

       
    </div>
    <!-- ./container -->
    </body>
    </html>
