/*
Theme Name: StanleyWP
Theme URI: http://gentsthemes.com
Description: Responsive WordPress theme with all the Twitter Bootstrap elements and features.

Author: Brad Williams & Carlos Alvarez & Carlos Alvarez
Author URI: http://gentsthemes.com
Version: 3.0.3
Tags: white, black, gray, light, custom-menu, custom-header, custom-background, one-column, two-columns, left-sidebar, right-sidebar, flexible-width, theme-options, threaded-comments, full-width-template, sticky-post, translation-ready, bootstrap, twitter

Copyright (C) 2011-2014 Gents Themes
License: GNU General Public License, version 3 (GPLv3)
License URI: license.txt

CREATE CHILD THEME.
See: http://codex.wordpress.org/Child_Themes

CSS Rules: Sorted alphabetically for better organization.
*/
/* =Admin bar
-------------------------------------------------------------- */
/* line 25, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
body.admin-bar .navbar {
  height: 40px;
  position: fixed;
  top: 28px;
  z-index: 1000;
}

/* line 32, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
body {
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff;
  color: #555;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* Titles */
/* line 43, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* line 45, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
h1 {
  font-size: 35px;
  margin-bottom: 30px;
  margin-top: 30px;
}

/* line 47, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.author-avatar img {
  -webkit-border-radius: 95px;
  -moz-border-radius: 95px;
  border-radius: 95px;
}

/* Paragraph & Typographic */
/* line 51, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 25px;
}

/* line 53, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.centered {
  text-align: center;
}

/* Links */
/* line 56, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
a {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  color: #1abc9c;
  transition: color 0.1s ease-in, background 0.1s ease-in;
  word-wrap: break-word;
}

/* line 66, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
a:hover,
a:focus {
  color: #7b7b7b;
  outline: 0;
  text-decoration: none;
}

/* line 69, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

/* line 78, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
hr {
  border: 0;
  border-top: 1px solid #ccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

/* line 88, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.navbar {
  margin-bottom: 0px;
  text-transform: uppercase;
}

/************ nav-var multi level *************/
/* line 92, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.navbar-nav .dropdown:hover > ul,
.navbar-right .dropdown:hover > ul {
  display: block;
}
/* line 95, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.navbar-nav .dropdown-menu,
.navbar-right .dropdown-menu {
  width: 100%;
  background: #1ABC9C;
}
/* line 99, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.navbar-nav li li, .navbar-nav li li a,
.navbar-right li li,
.navbar-right li li a {
  background: #1ABC9C !important;
  color: #fff !important;
}
/* line 103, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.navbar-nav ul ul,
.navbar-right ul ul {
  left: 100% !important;
  top: -8px;
}
/* line 108, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.navbar-nav ul,
.navbar-right ul {
  border-radius: 0;
}
/* line 110, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.navbar-nav ul .caret,
.navbar-right ul .caret {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid;
}

/* line 117, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.navbar-inverse {
  padding-bottom: 70px;
  padding-top: 70px;
}

/* line 119, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.navbar-inverse {
  background-color: #1abc9c;
  border-color: #16a085;
}

/* line 121, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.navbar-inverse .navbar-nav > li > a {
  color: white;
}

/* line 123, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse a.current-link {
  color: #222222 !important;
}

/* line 125, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.navbar-brand {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

/* line 127, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.navbar-inverse .navbar-brand {
  color: white;
}

/* line 129, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.navbar-inverse .navbar-toggle {
  border-color: transparent;
}

/* line 131, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: #222222;
}

/* line 133, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #222222;
}

/* line 135, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.progress-bar-theme {
  background-color: #1abc9c;
}

/* Helpers */
/* line 140, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.mt {
  margin-bottom: 40px;
  margin-top: 40px;
}

/* line 142, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.pt {
  padding-bottom: 50px;
  padding-top: 50px;
}

/* +++++ WRAP SECTIONS +++++ */
/* line 147, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
#ww {
  background-color: #f2f2f2;
  padding-bottom: 70px;
  padding-top: 70px;
}

/* line 150, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
#footer {
  background-color: #2f2f2f;
  padding-bottom: 50px;
  padding-top: 50px;
}

/* line 152, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
#footer p {
  color: white;
}

/* line 154, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
#footer h4 {
  color: white;
  padding-bottom: 20px;
  text-transform: uppercase;
}

/* +++++ Color Wraps / Blog Page +++++ */
/* line 159, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
#grey {
  background-color: #f2f2f2;
  padding-bottom: 60px;
  padding-top: 60px;
}

/* line 161, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
#white {
  background-color: #ffffff;
  padding-bottom: 60px;
  padding-top: 60px;
}

/* Blog Date*/
/* line 166, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
bd {
  color: #d2d2d2;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Blog Author*/
/* line 174, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
ba {
  font-size: 12px;
  padding-left: 5px;
  text-transform: uppercase;
}

/* Blog Quote */
/* line 177, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.bq {
  font-size: 22px;
  padding-top: 30px;
}

/* Blog Tags */
/* line 180, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
bt {
  font-size: 12px;
}

/* ================== PORTFOLIO IMAGES HOVER EFFECT ================== */
/* Effects also are controled by hover.zoom.js */
/* line 184, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.zoom {
  background: transparent url(/assets/themes/camaleon_first/assets/images/loader-1b3fff25cf8e34cd853535630f6d1417cb90596c19f46ddd68683b2878bc0c60.gif) no-repeat center;
  display: block;
  overflow: hidden;
  position: relative;
}

/* line 191, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.zoomOverlay {
  background-image: url(/assets/themes/camaleon_first/assets/images/zoom-b3564e717964bb1c30779e65cd9c49ce1407eb890e1cfaffea3e091a37a58288.png);
  background-position: center;
  background-repeat: no-repeat;
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 203, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.zoom2 {
  opacity: 1;
}

/* line 205, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.zoom2:hover {
  opacity: 0.5;
}

/* glyphicon Configuration */
/* line 209, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.glyphicon {
  color: #1abc9c;
  font-size: 40px;
}

/* WP User Avatar */
/* line 213, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.wp-user-avatar {
  margin: 0;
}

/* line 247, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
body.home-page .latest_articles img {
  max-height: 250px;
}

/* line 249, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.language-list li {
  opacity: 0.5;
}
/* line 251, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/camaleon_first/assets/css/style-ver.css.scss */
.language-list li.current_l, .language-list li:hover {
  opacity: 1;
}
