/************ logo ***************/
/* line 3, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
#logo {
  padding: 5px;
}
/* line 5, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
#logo > img {
  width: 220px;
  height: 50px;
}

/************ nav-var multi level *************/
/* line 14, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.navbar-nav .dropdown:hover > ul,
.navbar-right .dropdown:hover > ul {
  display: block;
}
/* line 17, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.navbar-nav .dropdown-menu,
.navbar-right .dropdown-menu {
  min-width: 100%;
}
/* line 20, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.navbar-nav ul ul,
.navbar-right ul ul {
  left: 100%;
  top: -8px;
}
/* line 25, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.navbar-nav ul,
.navbar-right ul {
  border-radius: 0;
}
/* line 27, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.navbar-nav ul .caret,
.navbar-right ul .caret {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid;
}

/************fixed menu************/
/* line 41, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.post-view {
  overflow: auto;
}

/*******comments list********/
/* line 47, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.comment-list .image {
  float: left;
  width: 40px;
}
/* line 51, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.comment-list .text {
  margin-left: 50px;
  position: relative;
}
/* line 55, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.comment-list .image_children {
  float: right !important;
}
/* line 58, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.comment-list .text_children {
  margin-left: 0px;
  margin-right: 50px;
}
/* line 62, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.comment-list .thumbnail {
  padding: 0px;
  min-height: 40px;
  text-align: center;
}
/* line 66, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.comment-list .thumbnail > img {
  display: inline-block;
  max-height: 50px;
}
/* line 71, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.comment-list .panel {
  position: relative;
}
/* line 74, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.comment-list .panel-heading:after, .comment-list .panel-heading:before {
  position: absolute;
  top: 11px;
  left: -16px;
  right: 100%;
  width: 0;
  height: 0;
  display: block;
  content: " ";
  border-color: transparent;
  border-style: solid solid outset;
  pointer-events: none;
}
/* line 86, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.comment-list .panel-heading:after {
  border-width: 7px;
  border-right-color: #f7f7f7;
  margin-top: 1px;
  margin-left: 2px;
}
/* line 92, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.comment-list .panel-heading:before {
  border-right-color: #ddd;
  border-width: 8px;
}
/* line 98, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.comment-list .answer > * .panel-heading:after, .comment-list .answer > * .panel-heading:before {
  left: auto;
  right: -16px;
}
/* line 99, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.comment-list .answer > * .panel-heading:after {
  border-left-color: #f7f7f7;
  border-right-color: transparent;
  border-width: 8px;
  margin-top: 0;
}
/* line 105, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.comment-list .answer > * .panel-heading:before {
  border-left-color: #ddd;
  border-right-color: transparent;
  right: -17px;
}

/************home view************/
/* line 116, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
#home-view .contents .thumbnail {
  min-height: 350px;
}

/* line 124, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.post_list .post-list-item hr {
  margin-top: 0;
}

/*********no lines panel*********/
/* line 129, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.panel.no-line {
  margin-top: 20px;
  border: none;
  box-shadow: none;
}
/* line 133, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.panel.no-line .panel-body {
  padding: 10px 0;
}

/************categories carousel***********/
/* line 137, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.categories-carousel {
  margin-bottom: 0;
  padding: 0 40px 0px 40px;
  /* The controlsy */
  /* The indicators */
  /* The colour of the indicators */
}
/* line 141, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.categories-carousel .carousel-control {
  left: -12px;
  height: 40px;
  width: 40px;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  top: 30%;
}
/* line 150, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.categories-carousel .carousel-control.right {
  right: -12px;
  left: auto;
}
/* line 155, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.categories-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
/* line 162, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.categories-carousel .carousel-indicators li {
  background: #cecece;
}
/* line 165, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.categories-carousel .carousel-indicators .active {
  background: #428bca;
}
/* line 168, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.categories-carousel .thumbnail {
  margin-bottom: 0;
}

/************ languages **********************/
/* line 174, /Users/zarianlewis/.rvm/gems/ruby-2.2.0/gems/camaleon_cms-2.1.1.4/app/apps/themes/default/assets/css/styles.css.scss */
.language {
  margin: 10px 0 0 0;
}
